.rightAnime {
  overflow: hidden;
  display: inline-block;
  /* background-color: red; */

  animation-name: slideTextX-100;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX-100 {
  from {
    transform: translateX(100%); /*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
    transform: translateX(0); /*要素を元の位置に移動*/
    opacity: 1;
  }
}
